[submodules "backend"]
  path = webapp-project-backend
  url = https://github.com/narutp/webapp-project-backend
[submodules "frontend"]
  path = webapp-project-frontend
  url = https://github.com/narutp/webapp-project-frontend
